@using _5051.Models
@model LoginViewModel
@{
    ViewBag.Title = "SUperNova Admin Panel";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
<h1>This is an admin home page.</h1>
<img src="/Content/images/Admin Index.png">
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}