@using _5051.Models
@model LoginViewModel


<h2>@ViewBag.Title.</h2>
<div class="row">
<h1>@ViewBag.Message</h1>
<img src="/Content/images/Unenroll.png" class="img-responsive">
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}